name: Publish to Modrinth & CurseForge

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      version_type:
        description: 'Version Type (release/beta/alpha)'
        required: true
        default: 'alpha'
        type: choice
        options:
          - release
          - beta
          - alpha

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Publish Mod
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: dHXyGNnW
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          curseforge-id: 989538
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          github-token: ${{ secrets.TOKEN_GITHUB }}
          github-tag: ${{ github.ref_name }}

          name: ${{ github.event.release.name || format('v{0}', github.ref_name) }}
          version: ${{ github.ref_name }}
          version-type: ${{ inputs.version_type || 'release' }}
          
          changelog: ${{ github.event.release.body }}
          
          loaders: neoforge
          game-versions: "1.21.1"
          
          java: 21
          
          files: |
            build/libs/!(*-sources).jar
          
          dependencies: |
            geckolib(required){modrinth:8BmcQJ2H}{curseforge:388172}
            curios(required){modrinth:K01mK8MA}{curseforge:309927}
          
          retry-attempts: 2
          retry-delay: 10000
          fail-mode: fail
